<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Oops, something broke!</h3>
    </div>
    <div class="panel-body">
        <p>Unfortunately, we encountered an error: <strong>{{errorMessage}}</strong>.</p>
        {{#if furtherDetails}}
        <p><strong>Further details:</strong><br>{{furtherDetails}}</p>
        {{/if}}
        <p>Please try again, or click <a href="/">here</a> to return home.</p>
    </div>
</div>